/******************************************
/* CSS
/*******************************************/


/******************************************
/* LAYOUT
/*******************************************/
* {
    font-family: 'Nunito', sans-serif;
    list-style: none;
}

.Sherri {
    color: rgba(128, 0, 128);
    font-family: 'Pacifico', cursive;
    font-weight: 300;
    align-self: stretch;
    font-size: 45px;
}

.navBar {
    border: 20px solid rgba(248, 212, 7, .5)
    
}

body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(200, 168, 205, 0.794)), url(../img/blueberry-2350367.jpg);
    background-position: center;
    background-size: cover;
}

/*
fashion red:
RGB (212, 24, 29)
strong yellow color:
RGB (248, 212, 7)
Patriarch purple Color:
RGB (128, 0, 128)
Indian Orange Color:
RGB (255, 119, 34)
*/

img {
    display: block;
    margin: 0 auto;
}


.hero{
   width: 90%;
   max-width: 600px;
   display: flex;
   align-items: center;
   justify-content: center;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/