/******************************************
/* CSS
/*******************************************/


/******************************************
/* LAYOUT
/*******************************************/
h2 {
   color: rgba(128, 0, 128);
   font-family: 'Pacifico',cursive;
   font-weight: 300;
}

/*
fashion red:
RGB (212, 24, 29)
strong yellow color:
RGB (248, 212, 7)
Patriarch purple Color:
RGB (128, 0, 128)
Indian Orange Color:
RGB (255, 119, 34)
*/




img {
    display: block;
    margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/